doctype html
html(lang='en')

  head
  title Gizmania | Gizes
  meta(name='author', content='Nicolas Floréal')
  meta(charset='UTF-8')
  link(href='assets/images/icons/gizmoLogo.ico', rel='icon', type='image/ico')
  link(href='assets/lib/fontawesome/svg-with-js/css/fa-svg-with-js.css', rel='stylesheet')
  link(href='assets/lib/bootstrap-4.1.1/dist/css/bootstrap-reboot.min.css', rel='stylesheet')
  link(href='assets/lib/bootstrap-4.1.1/dist/css/bootstrap.min.css', rel='stylesheet')
  link(href='assets/css/screen.css', rel='stylesheet')
  
  body
  
  nav(class='navbar navbar-expand-lg navbar-light bg-info')

    a(class='navbar-brand', href='/') <img src='assets/images/gizmoLogo.svg' width="30" height="30" alt='Gizmo, the cat.' title='Gizmo, the cat.'> Gizmania

    button(class='navbar-toggler', type='button', data-toggle='collapse', data-target='#main-navbar', aria-controls='main-navbar', aria-expanded='false', aria-label='Toggle navigation')
      span(class='navbar-toggler-icon')

    div(class='collapse navbar-collapse', id='main-navbar')
      ul(class='navbar-nav mr-auto mt-2 mt-lg-0')
        li(class='nav-item')
          a(href='/login', class='nav-link') Login
        li(class='nav-item')
          a(href='/register', class='nav-link') Register
        li(class='nav-item')
          a(href='/gizes', class='nav-link') Gizes

  div(id='main', class='container-fluid')
    div(class='row')
      div(class='col')
        h1 Gizes
        p Here you find all gizes available of other people. Feel free to make your own too!
        
        table(class='table table-hover')
          thead
            tr
              th(scope='col') Name
              th(scope='col') Author
              th(scope='col') Category
              th(scope='col') Times completed
              th(scope='col') Rating
          tbody
            tr
              for giz in gizes
                td=giz.name
                td=giz.author
                td=giz.category
                td=giz.timesCompleted
                td=giz.rating
                
              else
                td(colspan='5') There are no Gizes available yet.
                
        a(class='btn btn-danger', href='/makeAGiz') Make a Giz!

  script(src="./assets/lib/jquery-3.3.1.min.js")
  script(src="./assets/lib/bootstrap-4.1.1/dist/js/bootstrap.min.js")
  
  script(src="./assets/js/controllers/mainController.js")
    
